* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.continer {
  width: 400px;
  padding: 20px;
  box-shadow: 0 0 5px #2222228d;
  border-radius: 5px;
  border: 1px solid #2222224f;
  background-color: #22222211;
}

.input {
  width: 100%;

  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 2px 5px #00000054;
  margin-bottom: 20px;
  background-color: white;
  font-size: 40px;
  font-weight: 500;
}
.input::placeholder {
  color: black;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px #22222244;
  font-size: 24px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #cecece;
}
button:active {
  box-shadow: inset 0 2px 5px #22222244;
}
.operator {
  background-color: #0d5fdc;
  color: white;
}
.clear {
  background-color: #fe3300;
}
.equal {
  background-color: #02df1c;
  grid-row: span 3;
}
.btn {
  background-color: white;
}
.btn0 {
  grid-column: span 2;
}
